    <div class="devise">

      <h2>Sobre</h2>
      <br>
      
      <p>Donec condimentum pellentesque mi, eu convallis orci sagittis quis. Donec vehicula, nulla id tincidunt interdum, lorem dolor consequat orci, a sagittis erat odio vitae purus. Sed rutrum non ex eu lacinia. Donec vitae tempus elit. Ut laoreet molestie sagittis. Donec id leo metus. In est ante, finibus ut feugiat eu, viverra id turpis. Cras fermentum, enim id consectetur fringilla, augue dui posuere augue, nec accumsan tellus arcu in tortor. Nullam vulputate nisi in erat bibendum, ut tempor erat faucibus. Pellentesque consectetur diam nunc, quis mollis ligula mollis et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris cursus ligula ut posuere tempus. Nam non tortor non dui ullamcorper molestie. Fusce mattis sem eget elit congue blandit.</p>

      <a href="/" type="button" class="btn button-rank btn-lg btn-block">
        VOLTAR
      </a>
    </div>
