<div class="devise">

	<h2>Configurações</h2>
	<br>

	<label>Música</label>
	<br>

	<label class="switch">
	  	<input type="checkbox" checked>
	  	<span class="corredor round"></span>
	</label>
	<br>

	<label>Efeitos Sonoros</label>
	<br>

	<label class="switch">
	  	<input type="checkbox" checked>
	  	<span class="corredor round"></span>
	</label>
	
	<a href="/" type="button" class="btn button-rank btn-lg btn-block">
		VOLTAR
	</a>
</div>