<!-- Ranking button -->
<button href="#" type="button" class="glyphicon glyphicon-list-alt button-rank">
	RANK
</button>
<!-- Logo -->
<div class="logo"></div>
<div class="custom-home">

	<button href="#" type="button" class="btn btn-light btn-lg button-home">
		JOGAR
	</button>
	
	<!-- Config button -->
	<button href="/config" type="button" class="btn btn-light btn-lg button-home">
		CONFIGURAÇÕES
	</button>
	

	<!-- About button -->
	<button href="#" type="button" class="btn btn-light btn-lg button-home">
		SOBRE
	</button>

	<!-- Edit user button -->
	<%= button_to "EDITAR CONTA", edit_user_registration_path, class: "btn btn-light btn-lg button-home" %> 

	<!-- Destroy user button -->
	<%= button_to "SAIR", destroy_user_session_path, method: :delete, class: "btn btn-light btn-lg button-home" %>
</div>
