<div class="profile-img">
</div>

<div class="custom-home">
	<p class="button-home btn-lg btn-block"><%= current_user.email %></p>
		
	<%= button_to "EDITAR CONTA", edit_user_registration_path, class: "btn btn-light btn-lg button-home" %> 

</div>