    <div class="devise">
      <div class="table-responsive-sm">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Posição</th>
              <th scope="col">Usuário</th>
              <th scope="col">Pontuação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1º</td>
              <td>User</td>
              <td>10</td>
            </tr>
            <tr>
              <td>2º</td>
              <td>User2</td>
              <td>9</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>