.devise{
	margin-top: 200px !important;
  width: 478px;
  background-color: #00000099;
  border-radius: 10px;
  margin-top: 200px;
  border: 3px solid #0a8bca;
  padding: 12px;
  margin: auto;
  color :#ffffff;
  /*opacity: 0.9;*/;
}